<div id="change_password_wrapper">
<h1>Change Your Active Password</h1>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.hidden_field :email, :value => @user.email %>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

      <div class="new_email_input"><%= f.input :password, autocomplete: "off", label: 'New password', required: true %></div>
      <div class="new_email_input"><%= f.input :password_confirmation, label: 'New password confirmation',required: true %></div>
      <div class="new_email_input"><%= f.input :current_password, hint: "", required: true %></div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

</div>
