<div id="wrapper">
<%= form_tag("/user/change-email", method: "get") do %>
  <%= label_tag(:new_email, "New Email:") %>
  <%= text_field_tag(:new_email) %>
  <%= label_tag(:password, "Current Password:") %>
  <%= password_field_tag(:password) %>
  <%= submit_tag("Change Email") %>
<% end %>
</div>
