<div id="user_page_wrapper">

  <h1> <%=@user.email%>'s PAGE </h1>

  <% if user_signed_in? %>
    <div id="user_banner">
      <div class="banner_pic"><img src="/BWuser.png"></div>
      <div class="banner_user"><%=@user.email[/[^@]+/]%>'s <br>Page</div>
      <div class="banner_item"><h6>Total Images</h6><p><%=@user.images.count%></p></div>
      <div class="banner_item"><h6>Public Images</h6><p><%=@public_count%></p></div>
      <div class="banner_item"><h6>Friends Only Images</h6><p><%=@friends_count%></p></div>
      <div class="banner_item"><h6>Private Images</h6><p><%=@private_count%></p></div>
      <div class="banner_item"><h6>Friends</h6><p><%=@user.friends.count.to_i%></p></div>
    </div>

     <% if current_user == @user %>
        <h4>Your Friends </h4>
        <% @user.friends.each do |u| %>
          <%= link_to u.email,"/users/#{u.id}" %> <br>
        <%end%>
        <h4>Your Pending Friend Requests </h4>
        <% @user.pending_friends.each do |u| %>
          <%=u.email%> <button class="accept" value=<%=u.email%>>Accept Friend</button><br>
        <%end%>
        <h4>Your Requested Friends</h4>
        <% @user.requested_friends.each do |u| %>
          <%=u.email%><br>
        <%end%>

        <div id="friends_banner">
          <h1>Your Friends</h1>
          <div class="friends_banner_sub">
            <h1>Current Friends: <div class ='friends_count'><%=@user.friends.count.to_i%></div class ='friends_count'></h1>
            <ul class="friends_ul">
              <% @user.friends.each do |u| %>
                <li><%= link_to u.email,"/users/#{u.id}" %></li> <br>
              <%end%>
            </ul>
          </div>
          <div class="friends_banner_sub">
            <h1>Pending Friends: <div class="pending_count"><%=@user.pending_friends.count.to_i%></div class="pending_count"></h1>
            <ul class="pending_ul">
              <% @user.pending_friends.each do |u| %>
                <li class="pending_li"><%= link_to u.email,"/users/#{u.id}" %></li> <br>
              <%end%>
            </ul>
          </div>
          <div class="friends_banner_sub">
            <h1>Requested Friends: <div class="requested_count"><%=@user.requested_friends.count.to_i%></div class="requested_count"></h1>
            <ul class="requested_ul">
              <% @user.requested_friends.each do |u| %>
                <li class="requested_li"><%=u.email%> <button class="accept" value=<%=u.email%>>Accept Friend</button> <br>
              <%end%>
            </ul>
          </div>
        </div>
        <div id="new_friend_div">
          <h1>Make a New Friend!</h1>
          <p>Your new friends Email:</p> <input type="text" name="friend_email" value="" placeholder="example@example.com" id="friend_txt">
          <button class="new_friend_btn">Send Request</button>
        </div>

        <a href="/images" class="btn btn-4"><span>My Pictures</span></a><br>

        <a href="/albums" class="btn btn-4"><span>My Albums</span></a>
     <% elsif current_user.pending_friends.include?(@user)%>
        <h4> Friend Request Pending</h4>
      <%else%>
        <button type="button" class="request">Request Friendship!</button>
     <%end%>
  <%end%>



  <% if  user_signed_in? == false  || current_user != @user%>
    <%= link_to "#{@user.email} Pictures",images_path(:user => @user.id)%><br>
    <a href="/albums" class=""><span><%=@user.email%> Albums</span></a>
  <%end%>

</div>
<script>

$( ".request" ).click(function() {
  var friend = gon.user;
  console.log(friend);

  $.ajax({
    type: "POST",
    url: "/users/request-friend",
    dataType:"json",
    data: {friend:friend},
    success:function(data) {
      console.log("good");
      alert("request sent!")
      return false;
    },
    error:function(data) {
      console.log("bad");
      console.log(data);
      return false;
    }
  });
});

$( ".accept" ).click(function() {
  var friend = $(this).val();
  var Clicked= $(this)
  console.log(friend);

  $.ajax({
    type: "POST",
    url: "/users/accept-friend",
    dataType:"json",
    data: {friend:friend},
    success:function(data) {
      var id=Object.values(data)[0]
      var email= Object.values(data)[1]
      var status= Object.values(data)[2]
      Clicked.parent().remove()
      $(".friends_ul").append('<li><a href="/users/' +id.toString()+ '">'+email.toString()+'</a></li>');
      $(".friends_count").text( parseInt( $(".friends_count").text() )+1 );parseInt()
      $(".requested_count").text( parseInt( $(".requested_count").text() )-1 );parseInt()
      console.log("good");
      alert("Friend Added!")
      return false;
    },
    error:function(data) {
      console.log("bad");
      console.log(data);
      return false;
    }
  });
});


$( ".friends_banner_sub h1" ).click(function() {
  console.log($("#friends_banner").height());
  if($("#friends_banner").height()==200){
    $("#friends_banner").animate({height: "500px"});
  }else{
    $("#friends_banner").animate({height: "200px"});
  }
});

$( ".new_friend_btn" ).click(function() {
  var friend = $("#friend_txt").val();
  console.log(friend);
  $.ajax({
    type: "POST",
    url: "/users/request-friend",
    dataType:"json",
    data: {friend:friend},
    success:function(data) {
      var id=Object.values(data)[0]
      var email= Object.values(data)[1]
      var status= Object.values(data)[2]
      console.log(status);
      if (status==500){
        alert("request was already sent or is already a friend!")
      }else if (status==400){
        alert("They have already asked you to be their friend! Just accept their request.")
      } else{
        // append li in ul
        $(".pending_ul").append('<li><a href="/users/' +id.toString()+ '">'+email.toString()+'</a></li>');
        $(".pending_count").text( parseInt( $(".pending_count").text() )+1 );parseInt()
        alert("request sent!")
        return false;
      }
    },
    error:function(data) {
      console.log("bad");
      console.log(data);
      alert("Error Occurred! Please make sure there is a user using the Email entered.")
      return false;
    }
  });

});



</script>
