<div id="change_email_wrapper">
  <h1>Change Your Active Email</h1>
<%= form_tag("/user/change-email", method: "get") do %>
  <div class="new_email_input">
    <%= label_tag(:new_email, "New Email:") %>
    <%= text_field_tag(:new_email) %>
  </div>
  <div class="new_email_input">
    <%= label_tag(:password, "Current Password:") %>
    <%= password_field_tag(:password) %>
  </div>
  <%= submit_tag("Change Email",class:"email_btn") %>
<% end %>
</div>
