<div id="gallery_wrapper">
  <% if @album %>
  <h1>All Images from <%= link_to @album.name, images_path(sort:@album.id) %> album </h1>
  <%else%>
    <h1>Listing Images</h1>
  <%end%>
  <a href="javascript:void(0)" class="btn btn-4"><span>Change Image Size</span></a>
  <div class="flickr_pagination">
    <%= will_paginate @images %>
  </div>
      <% @images.each do |image| %>
        <%= link_to("#") do %>
          <%= image_tag image.file.url,class:"gallery_image", id:"#{image.id}" %>
            <span class="text-content"><span>Remove image from album</span></span>
        <% end %>
      <% end %>
      <div class="flickr_pagination">
        <%= will_paginate @images %>
      </div>

  <br>

  <%= link_to 'New Image', new_image_path %>
</div>


<script>

$(function() {
  $( ".text-content" ).each(function() {
    var image= ($(this).siblings().height()) * -1
    $(this).css({"margin-top": image-(image/2.25)});
  });
});


$( ".gallery_image" ).click(function() {
  var album = gon.album
  var image = this.id;
  var image_thumb= this
  swal({
  title: "Are you sure?",
  text: "Your image will be removed from this album",
  type: "warning",
  showCancelButton: true,
  confirmButtonColor: "#DD6B55",
  confirmButtonText: "Yes, remove it!",
  closeOnConfirm: false
  },
  function(){
    $.ajax({
      type: "POST",
      url: "/images/remove-album",
      dataType:"json",
      data: {image:image,album:album },
      success:function(data) {
        console.log("good");
        return false;
      },
      error:function(data) {
        console.log("bad");
        console.log(data);
        return false;
      }
    });
    $("#"+image).fadeOut()
    swal("Removed!", "Your image was removed from this album.", "success");
  });

});



$( ".btn" ).click(function() {
  if ( $(".gallery_image").width()=="1200" ){

    $(".gallery_image").width("500px")
    $(".gallery_image").height("500px")
    $(".gallery_image").css("display","inline-block")
    $(".gallery_image").css("object-fit","cover")
    $(".gallery_image").css("object-position","50% 20%")

    $( ".text-content" ).each(function() {
      var image= $(this).siblings().position();
      $(this).css({"margin-top":"-300px"});
      $(this).css({"margin-left":image.left+130});
    });
  }else{
    $(".gallery_image").width("1200px");
    $(".gallery_image").height("auto");
    $(".gallery_image").css("display","block");
    $(".gallery_image").css("object-fit","fill");
    $(".gallery_image").css("object-position","50% 50%");
    //$(".gallery_image").after("<span class='text-content'><span>'Some Cool Pop-Up Text :D JV'</span></span>");

    //  $( ".gallery_image" ).each(function() {
    //    if (this.hasClass("private")) {
    //      this.after("<span class='text-content'><span>'private'</span></span>");
    //    } else if (this.hasClass("only_friends")) {
    //        this.after("<span class='text-content'><span>'Friends'</span></span>");
    //    } else {
    //        this.after("<span class='text-content'><span>'Public'</span></span>");
    //    }
    //  });

    $( ".text-content" ).each(function() {
      var image= ($(this).siblings().height()) * -1
      $(this).css({"margin-top": image-(image/2.25)});
      $(this).css({"margin-left": "auto"});
      $(this).css({"margin-right": "auto"});
      $(this).css({"left": "0"});
      $(this).css({"right": "0"});
    });
  }
});



$('.btn').trigger('click');
$('.btn').hide();

</script>
