<p id="notice"><%= notice %></p>

<h1>Listing Albums</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @albums.each do |album| %>
      <tr>
        <td><%= album.name %></td>
        <td><%= link_to 'Show', album %></td>
        <td><%= link_to 'Edit', edit_album_path(album) %></td>
        <td><%= link_to 'Destroy', album, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<div id="album_gallery_wrapper">
  <h1>Listing Albums</h1>
  <a href="javascript:void(0)"id="delete_link"><h3>Delete Albums</h3></a>
      <% @albums.each do |album| %>
        <%= link_to(images_path(sort:album.id)) do %>
          <div class="album_link">
            <p><%=album.name%></p>
            <img src="/pictures.png" class="album_icon" style="visibility: hidden;">
          </div>
        <% end %>
      <% end %>
  <br>

<%= link_to 'New Album', new_album_path %>
</div>


      "<h2 class='album_delete_links'>"+albums[i]+"</h2>"
<script>

$( "#delete_link" ).click(function() {
  var albums=gon.albums.split(",")
  console.log(albums);
  for(var i = 0; i < albums.length; i++) {
    $(this).append(
      "<form action=''>\
        <input type='checkbox' name='album' value='"+albums[i]+"'><p class='check_text'>"+albums[i]+"</p>\
      </form>"
    );
}

});

</script>
