<p id="notice"><%= notice %></p>

<h1>Listing Albums</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @albums.each do |album| %>
      <tr>
        <td><%= album.name %></td>
        <td><%= link_to 'Show', album %></td>
        <td><%= link_to 'Edit', edit_album_path(album) %></td>
        <td><%= link_to 'Destroy', album, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Album', new_album_path %>


<div id="album_gallery_wrapper">
  <h1>Listing Albums</h1>
  <a href="javascript:void(0)"id="delete_link"><h3>Delete Albums</h3></a>
      <% @albums.each do |album| %>
        <%= link_to(images_path(sort:album.id)) do %>
          <div class="album_link" id="<%=album.name.tr(" ", "_")%>">
            <%= image_tag album.images.first.file.url,class:"album_icon" %>
            <p><%=album.name%></p>
          </div>
        <% end %>
      <% end %>
  <br>

</div>


<script>

$( "#delete_link" ).click(function() {
  if ($(".check_text").length < 1) {
    var albums=gon.albums.split(",")
    for(var i = 0; i < albums.length; i++) {
      $(this).append(
        "<form action=''>\
          <input type='checkbox' class='delete_check 'name='album' value='"+albums[i]+"'><p class='check_text'>"+albums[i]+"</p>\
        </form>"
      );
    }
    console.log($(".delete_check").length);
  }else{
    $("form").remove();
  }
  $(".delete_check").change(function() {
    if(this.checked) {
      var box= this
      var album = this.value
      swal({
        title: "Are you sure you want to delete the album "+ this.value+"?",
        text: "The album will be deleted but all the pictures will be kept",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#DD6B55",
        confirmButtonText: "Yes, delete it!",
        cancelButtonText: "No, cancel!",
        closeOnConfirm: false,
        closeOnCancel: false
      },
      function(isConfirm){
        if (isConfirm) {
          $.ajax({
              type: "POST",
              url: "/albums/" + album,
              dataType: "json",
              data: {"_method":"delete"},
              complete: function(){
                  $("#"+album.split(' ').join('_')).fadeOut();
                  $(box).fadeOut();
                  $("p:contains("+album+")").fadeOut();

              }
          });
          swal("Deleted!", "Your imaginary file has been deleted.", "success");
        } else {
            $(".delete_check").prop('checked', false);
      	    swal("Cancelled", "The album was unharmed", "error");
        }
      });
    }
  });
});






</script>
