<div id="album_gallery_wrapper">
  <%if params[:user]%>
    <h1><%=params[:user]%>'s Albums</h1>
  <%else%>
    <h1>Your Albums</h1>
    <div class="album_btn_div">
      <a href="/albums/new" class="fill_btn fill_btn--border fill_btn--primary fill_btn--animated "><h3><span>New Album</span></h3></a>
      <a href="javascript:void(0)"id="delete_link"class="fill_btn fill_btn--border fill_btn--primary fill_btn--animated right"><h3><span>Delete Albums</span></h3></a>
    </div>
  <%end%>


      <% @albums.each do |album| %>
        <%= link_to(images_path(sort:album.id)) do %>
          <div class="album_link" id="<%=album.name.tr(" ", "_")%>">
            <% if album.images.length >0 && album.images.first.private == false%>
              <%= image_tag album.images.first.file.url,class:"album_icon" %>
            <%else%>
            <%= image_tag "pictures.png",class:"album_icon" %>
            <%end%>
            <p><%=album.name%></p>
          </div>
        <% end %>
      <% end %>

</div>


<script>

$( "#delete_link" ).click(function() {
  if ($(".check_text").length < 1) {
    $(this).css("background-color", "#778899");
    $(this).css("color", "white");
    var albums=gon.albums.split(",")
    for(var i = 0; i < albums.length; i++) {
      $(this).after(
        "<form action=''>\
          <input type='checkbox' class='delete_check 'name='album' value='"+albums[i]+"'><p class='check_text'>"+albums[i]+"</p>\
        </form>"
      );
    }
    console.log($(".delete_check").length);
  }else{
    $(".check_text").remove();
    $(".delete_check").remove();
    $(this).css("background-color", "transparent");
    $(this).css("color", "");
  }
  $(".delete_check").change(function() {
    if(this.checked) {
      var box= this
      var album = this.value
      swal({
        title: "Are you sure you want to delete the album "+ this.value+"?",
        text: "The album will be deleted but all the pictures will be kept",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#DD6B55",
        confirmButtonText: "Yes, delete it!",
        cancelButtonText: "No, cancel!",
        closeOnConfirm: false,
        closeOnCancel: false
      },
      function(isConfirm){
        if (isConfirm) {
          $.ajax({
              type: "POST",
              url: "/albums/" + album,
              dataType: "json",
              data: {"_method":"delete"},
              complete: function(){
                  $("#"+album.split(' ').join('_')).fadeOut();
                  $(box).fadeOut();
                  $("p:contains("+album+")").fadeOut();

              }
          });
          swal("Deleted!", "Your imaginary file has been deleted.", "success");
        } else {
            $(".delete_check").prop('checked', false);
      	    swal("Cancelled", "The album was unharmed", "error");
        }
      });
    }
  });
});
</script>
