
<%= simple_form_for @image do |f| %>
  <h2>Title of the Image (optional)</h2>
  <%= f.input :name%>
  <h2>Who Can See the Image</h2>
  <%= f.label "Public (Everybody)"%>
  <%= f.input_field :public, as: :boolean, checked_value: true %><br><br>
  <%= f.label "Friends and You Only" %>
  <%= f.input_field :only_friends, as: :boolean %><br><br>
  <%= f.label "Private (only you)" %>
  <%= f.input_field :private, as: :boolean %><br><br>
  <%= f.button :submit, "Edit Image", class: "btn btn-4"  %>

<% end %>





<script>
$('input[type="checkbox"]').on('change', function() {
   $('input[type="checkbox"]').not(this).prop('checked', false);
});
Dropzone.autoDiscover = false;

  $(document).ready(function () {

    $.validate({
      lang: 'en',
      modules : 'security,html5',
      onSuccess : function($form) {
      },
      onError : function($form) {
        console.log("error");
        sweetAlert("Opps!", "Something Was Wrong", "warning");
        return false; // IF FALSE Will stop the submission of the form
      }

    });

      var myDropzone = new Dropzone("#dZUpload",{
          url: "/images/temp-pic",
          dictDefaultMessage:"Drop Image here or click to upload.",
          addRemoveLinks: false,
          maxFilesize:100,
          autoProcessQueue:true,
          maxFiles:1,
          maxfilesexceeded: function(file) {
              this.removeAllFiles();
              this.addFile(file);
          },
          success: function (file, response) {
            $(".btn").removeClass("disabled");
            console.log(file);
              var imgName = response;
              file.previewElement.classList.add("dz-success");
              console.log("Successfully uploaded :" + imgName);
          },
          error: function (file, response) {
                        console.log(file);
              file.previewElement.classList.add("dz-error");
              console.log(response);
          }
      });
  });

</script>
