<div id="gallery_wrapper">
  <% if @album %>
    <h1>All Images from <%=@album.name%> album </h1>
    <%= link_to 'Add a Image', new_image_path,class:"new_image_link" %>
  <%elsif @u%>
    <h1><%=@u.username%>'s Images</h1>
  <%elsif @friends%>
    <h1>Your Friends Images</h1>
  <%elsif user_signed_in? == false || @public%>
    <h1>Newist Public Images</h1>
  <%else%>
    <h1>Your Images </h1>
    <%= link_to 'Add a Image', new_image_path,class:"new_image_link" %>
    <% @u=true%>
  <%end%>

<div id="image_tab_container">
  <%if user_signed_in?%>
    <a href="/images"><div class="image_tab tab_one">Your Images</div></a>
    <a href="/images?friends=true"><div class="image_tab tab_two">Your Friends Images</div></a>
  <%else%>
    <a href="/users/sign_in"><div class="image_tab tab_one">Your Images</div></a>
    <a href="/users/sign_in"><div class="image_tab tab_two">Your Friends Images</div></a>
  <%end%>
  <a href="/images?public=true"><div class="image_tab tab_three">Newist Public Images</div></a>

</div>

  <a href="javascript:void(0)" class="btn btn-4"><span>Change Image Size</span> </a>
  <% if @u && @album==nil%>
    <form action="" id='radio_sort'>
      <h2>Show only:</h2>
      <input type="radio" name="sorting" value="public" class="radio_public"> <label class="radio_public">public</label>
      <input type="radio" name="sorting" value="friends" class="radio_friends"> <label class="radio_friends">friends only</label>
      <input type="radio" name="sorting" value="private" class="radio_private"> <label class="radio_private">private</label>
    </form>
  <%elsif @friends && @album==nil%>
  <form action="" id='radio_sort'>
    <h2>Show only:</h2>
    <input type="radio" name="sorting" value="public" class="radio_public_friends"> <label class="radio_public_friends">public</label>
    <input type="radio" name="sorting" value="friends" class="radio_friends_friends"> <label class="radio_friends_friends">friends only</label>
    <input type="radio" name="sorting" value="private" class="radio_private_friends"> <label class="radio_private_friends">private</label>
  </form>
  <%end%>
  <% if @album && user_signed_in? && current_user == @album.user%>
    <a href="/albums/<%=@album.name%>/add-images" class="edit_images_link">Add images to album</a>
    <a href="/albums/<%=@album.name%>/edit-images" class="edit_images_link">Remove images from album</a>
  <%end%>
  <div class="flickr_pagination">
    <%= will_paginate @images %>
  </div>
      <% @images.each do |image| %>
        <%= link_to(image) do %>
          <%= image_tag image.file.url,class:"gallery_image" %>

          <% if image.private %>
            <span class="text-content"><span>This Image is Private<br> Included in <%= image.albums.count%> Albums</span></span>
          <%elsif image.only_friends %>
            <span class="text-content"><span>This Image is for Friends Only <br> Included in <%= image.albums.count%> Albums <br> posted by <%=image.user.username%></span></span>
          <%else%>
            <span class="text-content"><span>This Image is Public <br> Included in <%= image.albums.count%> Albums <br> posted by <%=image.user.username%></span></span>
          <%end%>
        <% end %>
      <% end %>
      <div class="flickr_pagination">
        <%= will_paginate @images %>
      </div>

  <br>

</div>


<script>


$('.radio_public').click(function() {
   if($('.radio_public').is(':checked')) { window.location.href = '/images?user='+gon.user+'&r_public=true'; }
});
$('.radio_friends').click(function() {
   if($('.radio_friends').is(':checked')) { window.location.href = '/images?user='+gon.user+'&r_friends=true';  }
});
$('.radio_private').click(function() {
   if($('.radio_private').is(':checked')) { window.location.href = '/images?r_private=true';  }
});

$('.radio_public_friends').click(function() {
   if($('.radio_public_friends').is(':checked')) { window.location.href = '/images?friends=true&r_public=true'; }
});
$('.radio_friends_friends').click(function() {
   if($('.radio_friends_friends').is(':checked')) { window.location.href = '/images?friends=true&r_friends=true';  }
});
$('.radio_private_friends').click(function() {
   if($('.radio_private_friends').is(':checked')) { window.location.href = '/images?r_private=true';  }
});

console.log(gon.friends);
$( document ).ready(function() {
    if ($("h1").text() == "Newist Public Images"){
      $(".tab_three").css("border-color", "#0ab1ff");
    } else if ($("h1").text() == "Your Images") {
        $(".tab_one").css("border-color", "#0ab1ff");
    } else if ($("h1").text() == "Your Friends Images") {
        $(".tab_two").css("border-color", "#0ab1ff");
        $(".radio_private_friends").attr('disabled',true);
        $(".radio_private_friends").css('opacity', '.5');
    } else {
      if (gon.friends==true) {
        $(".radio_private").attr('disabled',true);
        $(".radio_private").css('opacity', '.5');
      }else if (gon.friends==false) {
        $(".radio_friends").attr('disabled',true);
        $(".radio_friends").css('opacity', '.5');
        $(".radio_private").attr('disabled',true);
        $(".radio_private").css('opacity', '.5');
      }else if (gon.album==true) {

      }else{
        $(".tab_one").css("border-color", "#0ab1ff");
        $("h1").text("Your Images")
      }
    }

    if (gon.radio=="public"){
      $(".radio_public").prop('checked', true);
      $(".radio_public_friends").prop('checked', true);
    }else if (gon.radio=="friends") {
      $(".radio_friends").prop('checked', true);
      $(".radio_friends_friends").prop('checked', true);
    } else if (gon.radio=="private") {
      $(".radio_private").prop('checked', true);
    }

  });

$(".image_tab").hover(function(){
     original=$(this).css("border-bottom-color")
    $(this).css("border-color", "#0ab1ff");
    }, function(){
    $(this).css("border-color", original);
});

$( ".tab_one" ).click(function() {

});


$(function() {
  $( ".text-content" ).each(function() {
    var image= ($(this).siblings().height()) * -1
    $(this).css({"margin-top": image-(image/2.25)});
  });
});


$( ".btn" ).click(function() {
  if ( $(".gallery_image").width()=="1200" ){
    document.cookie = "size=small";
    $(".gallery_image").width("500px")
    $(".gallery_image").height("500px")
    $(".gallery_image").css("display","inline-block")
    $(".gallery_image").css("object-fit","cover")
    $(".gallery_image").css("object-position","50% 20%")

    $( ".text-content" ).each(function() {
      var image= $(this).siblings().position();
      $(this).css({"margin-top":"-350px"});
      $(this).css({"margin-left":image.left+75});
    });
  }else{
    document.cookie = "size=big";
    $(".gallery_image").width("1200px");
    $(".gallery_image").height("auto");
    $(".gallery_image").css("display","block");
    $(".gallery_image").css("object-fit","fill");
    $(".gallery_image").css("object-position","50% 50%");
    //$(".gallery_image").after("<span class='text-content'><span>'Some Cool Pop-Up Text :D JV'</span></span>");

    //  $( ".gallery_image" ).each(function() {
    //    if (this.hasClass("private")) {
    //      this.after("<span class='text-content'><span>'private'</span></span>");
    //    } else if (this.hasClass("only_friends")) {
    //        this.after("<span class='text-content'><span>'Friends'</span></span>");
    //    } else {
    //        this.after("<span class='text-content'><span>'Public'</span></span>");
    //    }
    //  });

    $( ".text-content" ).each(function() {
      var image= ($(this).siblings().height()) * -1
      $(this).css({"margin-top": image-(image/2.25)});
      $(this).css({"margin-left": "auto"});
      $(this).css({"margin-right": "auto"});
      $(this).css({"left": "0"});
      $(this).css({"right": "0"});
    });
  }
});


function readCookie(name) {
    var nameEQ = name + "=";
    var ca = document.cookie.split(';');
    for(var i=0;i < ca.length;i++) {
        var c = ca[i];
        while (c.charAt(0)==' ') c = c.substring(1,c.length);
        if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
    }
    return null;
}


window.onload = function() {
  var image_size = readCookie('size');
  console.log(image_size); // Outputs: "The value of my cookie..."
  if (image_size=="small"){
    $(".gallery_image").width("500px")
    $(".gallery_image").height("500px")
    $(".gallery_image").css("display","inline-block")
    $(".gallery_image").css("object-fit","cover")
    $(".gallery_image").css("object-position","50% 20%")
    $( ".text-content" ).each(function() {
      var image= $(this).siblings().position();
      $(this).css({"margin-top":"-350px"});
      $(this).css({"margin-left":image.left+75});
    });
  };
};
</script>
