<div id="gallery_wrapper">
  <% if @album %>
    <h1>All Images from <%=@album.name%> album </h1>
    <%= link_to 'Add a Image', new_image_path,class:"new_image_link" %>
  <%elsif user_signed_in? == false%>
    <h1>Newist Public Images</h1>
  <%else%>
    <h1>Your Images</h1>
    <%= link_to 'Add a Image', new_image_path,class:"new_image_link" %>
  <%end%>


  <a href="javascript:void(0)" class="btn btn-4"><span>Change Image Size</span> </a>
  <% if @album%>
    <a href="/albums/<%=@album.name%>/add-images" class="edit_images_link">Add images to album</a>
    <a href="/albums/<%=@album.name%>/edit-images" class="edit_images_link">Remove images from album</a>
  <%end%>
  <div class="flickr_pagination">
    <%= will_paginate @images %>
  </div>
      <% @images.each do |image| %>
        <%= link_to(image) do %>
          <%= image_tag image.file.url,class:"gallery_image" %>

          <% if image.private %>
            <span class="text-content"><span>This Image is Private<br> Included in <%= image.albums.count%> Albums</span></span>
          <%elsif image.only_friends %>
            <span class="text-content"><span>This Image is for Friends Only <br> Included in <%= image.albums.count%> Albums</span></span>
          <%else%>
            <span class="text-content"><span>This Image is Public <br> Included in <%= image.albums.count%> Albums</span></span>
          <%end%>
        <% end %>
      <% end %>
      <div class="flickr_pagination">
        <%= will_paginate @images %>
      </div>

  <br>

</div>


<script>
$(function() {
  $( ".text-content" ).each(function() {
    var image= ($(this).siblings().height()) * -1
    $(this).css({"margin-top": image-(image/2.25)});
  });
});


$( ".btn" ).click(function() {
  if ( $(".gallery_image").width()=="1200" ){
    document.cookie = "size=small";
    $(".gallery_image").width("500px")
    $(".gallery_image").height("500px")
    $(".gallery_image").css("display","inline-block")
    $(".gallery_image").css("object-fit","cover")
    $(".gallery_image").css("object-position","50% 20%")

    $( ".text-content" ).each(function() {
      var image= $(this).siblings().position();
      $(this).css({"margin-top":"-300px"});
      $(this).css({"margin-left":image.left+130});
    });
  }else{
    document.cookie = "size=big";
    $(".gallery_image").width("1200px");
    $(".gallery_image").height("auto");
    $(".gallery_image").css("display","block");
    $(".gallery_image").css("object-fit","fill");
    $(".gallery_image").css("object-position","50% 50%");
    //$(".gallery_image").after("<span class='text-content'><span>'Some Cool Pop-Up Text :D JV'</span></span>");

    //  $( ".gallery_image" ).each(function() {
    //    if (this.hasClass("private")) {
    //      this.after("<span class='text-content'><span>'private'</span></span>");
    //    } else if (this.hasClass("only_friends")) {
    //        this.after("<span class='text-content'><span>'Friends'</span></span>");
    //    } else {
    //        this.after("<span class='text-content'><span>'Public'</span></span>");
    //    }
    //  });

    $( ".text-content" ).each(function() {
      var image= ($(this).siblings().height()) * -1
      $(this).css({"margin-top": image-(image/2.25)});
      $(this).css({"margin-left": "auto"});
      $(this).css({"margin-right": "auto"});
      $(this).css({"left": "0"});
      $(this).css({"right": "0"});
    });
  }
});


function readCookie(name) {
    var nameEQ = name + "=";
    var ca = document.cookie.split(';');
    for(var i=0;i < ca.length;i++) {
        var c = ca[i];
        while (c.charAt(0)==' ') c = c.substring(1,c.length);
        if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
    }
    return null;
}


window.onload = function() {
  var image_size = readCookie('size');
  console.log(image_size); // Outputs: "The value of my cookie..."
  if (image_size=="small"){
    $(".gallery_image").width("500px")
    $(".gallery_image").height("500px")
    $(".gallery_image").css("display","inline-block")
    $(".gallery_image").css("object-fit","cover")
    $(".gallery_image").css("object-position","50% 20%")
    $( ".text-content" ).each(function() {
      var image= $(this).siblings().position();
      $(this).css({"margin-top":"-300px"});
      $(this).css({"margin-left":image.left+130});
    });
  };
};
</script>
