<!DOCTYPE html>
<html>
<head>
  <title>ImageStorage</title>
  <%= Gon::Base.render_data %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id ="header">
     <img src="logo.png" alt="Logo"> 
    <ul>
      <li><a class="active" href="#home">Home</a></li>
      <li><a href="#news">News</a></li>
      <li><a href="#contact">Contact</a></li>
      <li><a href="#about">About</a></li>
  </ul>
</div>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <% if user_signed_in? %>
    hello <%=current_user.email%> <%= link_to 'Sign Out :(', destroy_user_session_path, :method => :delete %>
  <%else%>
    <%= link_to 'Sign In!', new_user_session_path %>
  <%end%>
<%= yield %>

</body>
</html>
