<!DOCTYPE html>
<html>
<head>
  <title>ImageStorage</title>
  <%= Gon::Base.render_data %>
  <link href="https://fonts.googleapis.com/css?family=Fjalla+One|Montserrat:400,500i" rel="stylesheet"> 
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id ="header">
     <div id="logo"></div>
    <ul>
      <% if user_signed_in? %>
        <li> <%= link_to "hello #{current_user.email} Sign Out :(", destroy_user_session_path, :method => :delete %></li>
      <%else%>
        <li><%= link_to 'Sign In!', new_user_session_path %></li>
      <%end%>
      <li><%= link_to 'Your Page', "/users/#{current_user.id}" %></li>
      <li><a class="active" href="/albums">Albums</a></li>
      <li><a class="active" href="/images">Images</a></li>
  </ul>
</div>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
